* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background: rgb(236, 235, 235);
}

/*  heading/title  */

#heading-box {
    border: 10px solid black;
}


#title {
    
    padding: 15px;
    border: 10px solid blue;
    background: lightgray;
    text-align: center;
}

#title-1 {
    font-size: 70px;
    font-weight: bolder;
    color: black;
}

#title-2 {
    font-size: 35px;
    font-weight: bold;
    color: darkblue;
}

/*  panel input body */

#input-body {
    background: rgb(206, 237, 247);
    border: 1px solid black;
}
    
.box {
    text-align: center;
}

#top-row {
    padding-top: 10px;
    padding-bottom:5px;
}

#bottom-row {
    padding-bottom: 10px;

}

#submit {
    background: green;
    color: white;
    
}

#store-title,
#item-title,
#notes-title {
    font-weight: bolder;
    font-size: 30px;
    color: black;
}

#store-input,
#list-input,
#qty-input {
    width: 90%;
    height: 45px;
    font-size: 20px;
}


/*  shopping list area */


#list-heading {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: black;
}

.store-name {
    font-size: 40px;
    font-weight: bold;
    color: blue;
    background: rgb(206, 237, 247);
    margin: 0px 5px 15px 5px;
    border: 5px solid blueviolet;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 10px;
    text-align: center;
}


.list-items {
    padding: 10px;
    text-align: left;
    font-size: 40px;
    /* border: 1px solid black; */
    background: rgb(230, 228, 228);
    color: black;
}

button {
    background: red;
    color: white;
}

#list-body {
    margin-bottom: 20px;
}
